*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    overflow-wrap: break-word;
}

/* These are to get rid of the buttons on the number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -appearance: textfield;
}

:root {
    /* Primary */
    --strong-cyan: hsl(172, 67%, 45%);
    --error: #e17457;
    /* Neutral */
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    background: var(--light-grayish-cyan);
    font-size: 1.5rem;
    font-family: "Space Mono";
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-block: auto;
    width: 100%;
    min-height: 8.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 640px;
    background: var(--white);
    padding: 1.5rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    column-gap: 2rem;
}

.left {
    padding: 0.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

fieldset {
    border: none;
}

legend {
    font-size: 1rem;
    font-weight: bold;
    color: var(--dark-grayish-cyan);
    margin-bottom: 0.3125rem;
}

.percent legend {
    margin-bottom: 1rem;
}

.people legend {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

input[type="number"] {
    width: 100%;
    border: none;
    border-radius: 0.3125rem;
    padding: 0.3125rem 1rem;
    background: var(--very-light-grayish-cyan);
    color: var(--very-dark-cyan);
    font-weight: bold;
    caret-color: var(--strong-cyan);
}

input[type="number"]::placeholder {
    color: var(--grayish-cyan);
    opacity: 0.5;
}

input[type="number"]:hover,
input[type="number"]:focus {
    outline: 0.125rem solid var(--strong-cyan);
    cursor: pointer;
}

.bill {
    position: relative;
}

.bill__input {
    text-align: right;
}

.bill::before,
.people::before {
    position: absolute;
    top: 0.25rem;
    left: 1rem;
    z-index: 1;
}

.bill::before {
    content: url("/images/icon-dollar.svg");
}

.people::before {
    content: url("/images/icon-person.svg");
}

.percent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.percentage {
    display: none;
}

.percentage__label {
    text-align: center;
    background: var(--very-dark-cyan);
    color: var(--white);
    border-radius: 0.3125rem;
    padding: 0.3125rem 1rem;
    font-weight: bold;
}

.percentage__label:hover,
.percentage__label:focus {
    background: #9fe8df;
    color: var(--very-dark-cyan);
    cursor: pointer;
}

.custom__input {
    padding: 0.3125rem 0.5rem !important;
    text-align: right;
    font-weight: bold;
}

.custom__input::placeholder {
    opacity: 1 !important;
    text-align: center;
}

.people {
    position: relative;
}

.people__input {
    text-align: right;
}

.right {
    background: var(--very-dark-cyan);
    padding: 2.25rem 1.5rem 1.5rem 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.amounts {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-end;
}

.p1 {
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
}

.p2 {
    font-size: 0.8125rem;
    font-weight: bold;
    color: var(--grayish-cyan);
}

.total__amount {
    margin-left: auto;
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
    color: var(--strong-cyan);
    max-width: 100%;
}

.reset {
    width: 100%;
    padding: 0.5rem 2rem;
    border-radius: 0.3125rem;
    border: none;
    background: var(--strong-cyan);
    color: var(--very-dark-cyan);
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
}

.reset:hover,
.reset:focus {
    background: #9fe8df;
    cursor: pointer;
}

.reset:disabled {
    opacity: 0.5;
    cursor: default;
}

.reset:disabled:hover {
    background: var(--strong-cyan);
}

footer {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

.clicked {
    background: var(--strong-cyan) !important;
    color: var(--very-dark-cyan);
}

.outlined {
    outline: 0.125rem solid var(--strong-cyan);
}

.error {
    color: var(--error);
}

.error__input {
    outline: 0.125rem solid var(--error) !important;
    caret-color: var(--error) !important;
}

.invisible {
    display: none;
}

@media screen and (min-width: 40rem) {
    body {
        padding-inline: 0.5rem;
    }
    .percent {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 48rem) {
    main {
        margin-bottom: auto;
    }

    .container {
        flex-direction: row;
        max-width: 920px;
        border-radius: 1.5rem;
        padding: 2rem;
    }

    .left {
        flex: 1;
        padding: 0.8125rem 1rem;
    }

    .form {
        gap: 2.625rem;
    }

    .right {
        flex: 1;
        max-width: 413px;
        padding: 2.5rem;
    }

    .total__amount {
        font-size: 3rem;
    }
}
